html, body{
    scroll-behavior: smooth;
    font-size: 1em;
    margin: 0;
    /* padding: .3em; */
    font-family: 'Karla', sans-serif;
    /*font-family: 'Source Sans Pro', sans-serif;*/
    height: 100%;
}

h1{
    font-size: 1.2rem;
    /*line-height: 1;*/
    padding: 10px;
    /* margin: 1em 0 0 0; */
    text-align: center;
    color: #385266;
    /* color: #646464; */
}

h2{
    font-size: 20px;
    padding: 3px;
    text-align: center;
    color: #385266;
    font-weight: 400;
    line-height: 1.5;
}

h3{
    color: #717171;
    font-size: 13px;
    padding: 3px;
    text-align: center;
    font-weight: 400;
    margin: 10px;
}

h4 {
    color: #c0ccd4;
    font-size: 20px;
    padding: 3px;
    font-weight: 700;
    margin: 50px 0 0 0;
    line-height: 1.5;
    text-transform: uppercase;

}

p{
    padding: 3px;
    margin-bottom: 5px;
    line-height: 1.5;
    font-size: 16px;
    color: #55585a;
}

header{
    height: 30vh;
    background-color: #fff8cd;
    margin-bottom: 40px;
}

.header-title{
    font-size: 30px;
    font-weight: 700;
    padding: 10px;
    text-align: center;
    color: #385266;
}

.header-des{
    font-size: 20px;
    line-height: 1.5;
    padding: 5px;
    text-align: center;
    color: #385266;
    font-weight: 400;
    margin: 10px;
}

.header-edu{
    color: #717171;
    font-size: 15px;
    padding: 5px;
    text-align: center;
    font-weight: 400;
    margin: 10px;
}

/* #main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    background-color: #eaf2f3;
} */

/* navbar */
nav{
    /*position: fixed;*/
    padding: 20px;
    text-align: center;
    background-color: #fff8cd;
}

li{
    margin: 10px;
    padding: 5px;
    display: inline-block;
    font-weight: 700;
    color: #55585a;
}

a{
    color: rgba(56, 82, 102, 0.6);
    font-weight: 700;
    text-decoration: none;
}

li a.active{
    padding: 5px;
    color: #385266;
    border-bottom: 3px solid #ff9642;
}

a:hover{
    color: #385266;
}

img{
    border-radius: 6px;
}

/* skip */
*:focus{
    border: 2px solid blcak;
}

.skip a{
    background: white;
    left: 0;
    padding: 6px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
    position: absolute;
    top: -100px;
}

.skip a:focus{
    top: 0;
}

/*tags remember to update the styles*/
.tag-groups{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width:100%;
}

.tag-item{
    color: #0F2749;
    cursor:pointer;
    min-width: 120px;
    /*min-width: 100px;*/
    padding: 8px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
    margin: 5px;
    transition: .1s linear;
}

.tag-item.active{
    background: #3F75FD;
    color: #FFFFFF;
}

#uxd:hover, #uxd.active{
    background: #28C3D3;
    color: #FFFFFF;
}

#uxr:hover, #uxr.active{
    background: #F6D839;
    color: #FFFFFF;
}

#dev:hover, #dev.active{
    background: #FF7373;
    color: #FFFFFF;
}

/*project*/
.project-content{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    padding: 0 8%;
    margin: 2.5em 0;
}

.card {
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);*/
  /*max-width: 470px;*/
  max-width: 100%;
  margin: auto;
  text-align: center;
}

.card > a > img{
    border-radius: 6px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card > img{
    border-radius: 6px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/*testing*/

.project-tags{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width:100%;
}

.project-tag{
    font-size: 13px;
    padding: 3px 8px;
    background: #E3EAFF;
    border-radius: 3px;
    margin-right: 5px;
    margin-top: .5em;
    color: #2E3658;
}

/*remember to edit this part*/
footer {
  position: relative;
  width: 100%;
  color: #385266;
  background-color: #fff8cd;
  padding: 40px 0;
  display: flex;
  flex-wrap: wrap;
  -webkit-align-items: center;
  align-items: center;
  text-align: center;
  -webkit-justify-content: center;
  justify-content: center;
  /* padding-bottom: 40px; */
  font-size: 16px;
  /* margin-top: 70px; */
}

.icon{
  padding: 5px;
}

.copyright{
  width: 100%;
  margin: 10px;
}

/*remember to edit footer elements*/

/*all projects starts here*/
.hero-image {
  /* background-color: #eaf2f3; */
  /* height: 500px; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/*.img-gif > img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
}*/

.section{
  padding: 10px 5%;
}

.section > img{
  display: block;
  width: 100%;
  margin: 30px auto auto auto;
}

/*testing paring image and text*/

.flex-container {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
  align-items: center;

  /* test */
  /* padding: 10px 5%; */
  /*background-color: #0f2749;*/
}

.flex-reverse{
  flex-direction: row-reverse;
}

.flex-container > div {
  /*background-color: #f1f1f1;*/
  /*flex: 0 0 50%;*/
  /* max-width: 50%; */
  /* max-width: 450px; */
  /*margin: 0px 0px;*/
  padding: 10px 10px 10px 0;
  /*font-size: 1em;*/
  /*color: white;*/
}

/*change project*/
/*syncgrading project*/
/*maize and blue project*/
/*music database project*/

/*---------------------------------------------------*/

/*media queries*/
/* media query for laptops and desktops*/
/* reference: https://gist.github.com/gokulkrishh/242e68d1ee94ad05f488 */
@media all and (min-width: 1025px){
    nav{
        text-align: right;
    }
    header{
        padding: 4em; 
    }
    .projects{
        padding: 4em;
    }
}

/* media query for tablets and ipads - portrait*/
/* reference: https://gist.github.com/gokulkrishh/242e68d1ee94ad05f488 */
/* @media (min-width: 768px) and (max-width: 1024px) {

} */

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
/* small screens */
@media screen and (max-width:670px) {
    header {
        height: 30%;
        margin-bottom: 35px;
    }
    
    .header-edu {
        color: #717171;
        font-size: 15px;
        padding: 5px 5px 20px 5px;
        text-align: center;
        font-weight: 400;
        margin: 10px;
    }

    .project-content {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        padding: 0 8%;
        margin: 2.5em 0;
    }
    .column {
      width: 100%;
    }
    .flex-container {
      position: relative;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
      height: 100%;
    }
    .section {
      padding: 0 8%;
    }
  }
  
  /* medium (641px to 1007px) */
  @media (min-width: 670px) and (max-width: 1024px) {
    header {
        height: 30%;
    }
    .header-edu {
        padding: 5px 5px 15px 5px;
    }
    .project-content {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        padding: 0 8%;
        margin: 2.5em 0;
    }
    .flex-container {
      position: relative;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
      height: 100%;
    }
    .section {
      padding: 0 10%;
    }
  }

@media screen and (prefers-reduced-motion: reduce){
    html{
        scroll-behavior: auto; 
    }
    .skip a{
      -webkit-transition: none;
      transition: none;
    }
    .intro-image{
        animation: none;
    }
  }