h1{
    font-size: 25px;
    /*line-height: 1;*/
    padding: 23px 10px 20px 3px;
    text-align: left;
    color: #385266;
    text-transform: uppercase;
}

h2{
    font-size: 20px;
    line-height: 1.5;
    padding: 3px;
    text-align: center;
    color: #697b88;
    font-weight: 700;
    margin: 40px 0 0 0;
    line-height: 1.5;
    text-align: left;
}

.overview-text > h2 {
  margin: 0;
}

h3{
    color: #717171;
    font-size: 18px;
    padding: 3px 0;
    margin: 10px 0;
    text-align: left;
    font-weight: 400;
    line-height: 1.5;
}

p{
    font-size: 18px;  
    padding: 3px;
    margin-bottom: 5px;
    line-height: 1.8;
    color: #55585a;
}

.img-des {
  font-size: 15px;
  padding: 3px;
  margin-bottom: 5px;
  color: #c0ccd4;
  text-align: center;
}

hr {
  display: block;
  height: 1px;
  border-top: 2px solid #d8e0e4;
  margin: 3em 0
}

/* landing */
.landing-title {
  font-size: 50px;
  font-weight: 700;
  text-transform: uppercase;
}

#change-title {
  color: #1f306e;
}

#ecoach-title {
  color: #0f2849
}

#spire-title {
  color: #0e0e51
}

.landing-description {
  font-size: 20px;
  line-height: 1.5;
  padding: 3px;
  text-align: center;
  color: #8f3b76;
  /* color: #697b88; */
  font-weight: 700;
  line-height: 1.5;
}

.landing-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  padding: 0 5%;	
  background-color: #eaf2f3;
  align-items: center;
}

#spire {
  background-color: rgba(231, 245, 253, 0.5);
}

#ecoach {
  background-color: rgba(159, 217, 218, 0.2);
}

#change {
  background-color: rgba(38, 51, 109, 0.1);
}

.landing-text {
  position: relative;
  padding: 20px 0;
  justify-content: center;
}

.overview-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  padding: 0 5%;	
}
.overview-text {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 20px 0;
}

.section {
	margin-bottom: 2em;
	padding: 0 20%;
}

.four-column-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

/* project content cards */
.proj-content-card-container {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
}
.proj-content-card {
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 160px;
  border-radius: 6px;
  background-color: rgba(160, 217, 218, 0.5);
  width: 33%;
  margin-right: 10px;
  padding: 10px;
}
.block-container {
  display: inline-block;
  position: relative;
  background-color: rgba(160, 217, 218, 0.3);
  width: 100%;
  padding: 10px;
}

.block-container > h2 {
  text-align: center;
  margin: 0;
}
.block-container > p {
  text-align: center;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.gif-image {
  padding-left: 5px;
  padding-right: 5px;
}

.solution-text {
  padding-right: 10px;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
/* small screens */
@media screen and (max-width:670px) {
  header {
    height: 40vh;
}
  .landing-grid {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 90%;
  }
  .overview-grid {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    /* width: 90%; */
  }
  .four-column-grid {
    display: flex;
    flex-direction: column;
    /* padding: 0 20%; */
  }

  #four-column-grid-title {
    margin-top: 5px;
  }

  .column {
    width: 100%;
  }
  .flex-container {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;
  }
  .section {
    padding: 0 8%;
  }
  .proj-content-card-container {
    flex-wrap: wrap;
    justify-content: center;
  }
  .proj-content-card {
    width: 100%;
    margin-bottom: 20px;
  }
}

/* medium (641px to 1007px) */
@media (min-width: 671px) and (max-width: 1007px) {
  .flex-container {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;
  }
  .section {
    padding: 0 10%;
  }
}

